---
export const prerender = false;
import Layout from '../../layouts/Layout.astro';


const { id } = Astro.params;

const res = await fetch("http://127.0.0.1/wp-json/wp/v2/posts/"+id);
const post = await res.json();

---

<Layout title={post.title.rendered} >
	<main>
    <h2 set:html={post.title.rendered} />
    <p set:html={post.content.rendered} />	
	</main>
</Layout>




