---
export const prerender = false;



const res = await fetch("http://127.0.0.1/wp-json/wp/v2/posts?per_page=100&_fields=author,id,excerpt,title,link")
const posts = await res.json()

---
<h1>Astro + WordPress 🚀</h1>
<p> Pages: <p/>
{
  posts.map((post) => (
      <a href={"http://localhost:3000/wp/"+post.id} > {post.title.rendered}  </a>
      <br/>
  ))
}