---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Counter from '../components/Counter';
import MdxPage from '../pages/3.mdx';


export const prerender = false;
import { getCartItem } from '../components/State';
import { get } from './api/a.json.js';
const data = await get();
const data1 = data.body;
const userAgent = Astro.request.headers.get('User-Agent');
const method = Astro.request.method;
const headers = Astro.request.headers;
// export const userAgent1 = ()=> { Astro.request.headers.get('User-Agent') } ; //"astro userAgent"

---
<Layout  title="Welcome to Astro.">
	<main>
		<button class="btn">Button</button>
		<p>{userAgent}</p>
		<MdxPage aa="1" />
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
	</main>
	<Counter client:load />
</Layout>
