---
import Layout from '../layouts/Layout.astro';

// export const prerender = false;

import { marked } from 'marked';
const response = await fetch('https://raw.githubusercontent.com/wiki/adam-p/markdown-here/Markdown-Cheatsheet.md');
const markdown = await response.text();
const content = marked.parse(markdown);
---
<Layout  title="Welcome to Astro.">
	<main>
		<article set:html={content} />
	</main>
</Layout>
