---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title="Welcome to Markdown.">
    <main>
        <h1>{frontmatter.title} by {frontmatter.author}</h1>
        <slot />
        <p>Written on: {frontmatter.date}</p>   
    </main>
</Layout>


<!-- <html>
    <head>
      <title>{frontmatter.title}</title>
    </head>
    <body>
      <h1>{frontmatter.title} by {frontmatter.author}</h1>
      <slot />
      <p>Written on: {frontmatter.date}</p>
    </body>
  </html>
  <style is:global>
      :root {
          --accent: 124, 58, 237;
          --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }
      html {
          font-family: system-ui, sans-serif;
          background-color: #F6F6F6;
      }
      code {
          font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
              Bitstream Vera Sans Mono, Courier New, monospace;
      }
  </style>
 -->

 <style>
    	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
 </style>
